body {
    color: #196949;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  
  .jumbotron {
    background-image: url("../images/bio.jpg");
    background-size: 100% 100%;
    text-align: center;
  }
  
  
  